:root {
    --font-color-light: hsl(210, 36%, 96%);
    --font-color-dark: hsl(209, 61%, 16%);
    --bg-color: hsl(209, 28%, 39%);
    --bg-color-light: hsl(209, 23%, 60%);
    --button-bg-color: hsl(199, 84%, 55%);
    --boxshadow-color: hsla(220, 63%, 16%, 1%);
}
  
* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color-light);
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}
  
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--font-color-light);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}
  
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--font-color-light);
}

select {
    font-size: 16px;
    color: var(--font-color-dark);
    background-color: var(--font-color-light);
    width: 200px;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

select:focus,
button:focus {
    outline: 0;
}

.btn {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: var(--font-color-light);
    background-color: var(--button-bg-color);
    cursor: pointer;
    border: none;
    border-radius: 7px;
    margin-top: 35px;
    padding: 10px 15px;
    box-shadow: 0px 4px 6px var(--boxshadow-color);
}

.btn:active {
    transform: scale(.9)
}

.btn:hover {
    color: var(--button-bg-color);
    background-color: var(--font-color-light);
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group .btn {
    margin: 20px 40px;
}

.circle {
    width: 30%;
    border-radius: 50%;
    background: var(--bg-color-light);
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 400ms;
}

.circles {
    display: none;
    max-width: 600px;
    margin: 20px auto;
}

.container { 
    padding-bottom: 40px;
    min-height: 100vh;    
    min-width: 100vw;
}

.difficulty {
    margin: 20px 0;
}

.display-color-group {
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.display-color-group span {
    font-size: 32px;
    font-weight: 300;
    color: var(--font-color-light);
}

.display-color-group span:not(.selected-display) {
    display: none;
}

.display-lifes {
    margin: 20px 0;
}

.end-container {
    display: none;
    background-color: var(--bg-color);
    color: var(--font-color-light);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.menu-btn {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    border-radius: 4px;
    padding: 10px 30px;
}

.new-round-btn {
    font-style: normal;
    position: absolute;
    top: 35%;
    left: 30%;
}
  
.selected-btn {
    display: none;
}

.selected {
    background-color: hsl(102, 100%, 31%);
    color: hsl(0, 0%, 100%);
}

.start-container {
    color: var(--font-color-light);
    background-color: var(--bg-color);
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: .3s ease;
    min-height: 100vh;
}

.start-container.show {
    opacity: 1;
    z-index: 2;
}

.start-description {
    max-width: 500px;
    text-align: center;
    margin: 25px 0px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
    .circle {
        width: 30%;
        padding: 20%;
        height: 100%;
        margin: 5%;
    }
}